# Neon Lakebase Postgres Database Connection
DATABASE_URL=postgresql://neondb_owner:<PASSWORD>@<HOST>-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:<PASSWORD>@<HOST>.us-east-2.aws.neon.tech/neondb?sslmode=require

# Neon Project Info
NEON_PROJECT_ID=snowy-base-99419665
NEON_PROJECT_NAME=vibecode
NEON_REGION=aws-us-east-2
